
.echo-graph {
    flex: 1;
    border: 1px solid lightgray;
}

.echo-graph .echoSvgWrapper {
    position: relative;
    flex: 1;
}

.echo-graph svg {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-top: 5px;
    border: 1px solid #f8f8f8;
    stroke-width: 1;
    fill: none;
    stroke: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    overflow: auto;
}

.echo-graph circle.port {
    r: 2;
    stroke: #f0f0f0;
}

.echo-graph ellipse {
    stroke: blue;
}

.echo-graph .foreignCheckbox input {
    padding: 0;
    margin:  0;
    width: 13px;
    height: 12px;
}

.echo-graph .hide_me {
    display: none;
}

.echo-graph .color_ok {
    stroke: green;
}

.echo-graph .color_nok {
    stroke: red;
}