.echoHeaderWrapper {
    /*width: 100%;*/
    height: 6vh;
    min-height: 6vh;
    max-height: 6vh;
    font-size: 3vh;
     text-align: center;
    /*
    background-color: blue;
    color: white;
    */
}

/*
.echoHeaderWrapper svg {
    width: 6vh;
    height: 6vh;
    fill: none;
    stroke: white;
    stroke-width: 6px;
    cursor: pointer;
}
*/

.echoHeaderWrapper span {
    text-align: center;
}

.echoHeaderWrapper span.close {
    /*
    border: 1px solid white;
    border-radius: 50%;
    font-size: smaller;
    height: 3vh;
    */
    width: 6vh;
}

.echoHeaderWrapper span.close i {
    cursor: pointer;
}