/* app css stylesheet */

#main, body, .mapWrapper{
  max-height: 100%;
  overflow: hidden;
}
md-toolbar{
  max-height: 64px;
}
.menu {
  list-style: none;
}

ul.menu{
  padding: 0;
}

ul.menu .md-button{
  margin: 6px 0;
}

.menu > li {
  display: inline;
}

.cesiumButtons{
  position: absolute;
  z-index: 9;
}