
.force-horse {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
}

.force-horse .display_none {
    display: none;
}

.force-horse .opacity_none {
    opacity: 0;
}

.force-horse .svgWrapper {
    height: 90%;
    position: relative;
    flex-grow: 1;
}

.force-horse svg.graph-svg {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* margin-top: 5px; */
    border: 1px solid #e8e8e8;
    stroke-width: 1;
    fill: none;
    stroke: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    overflow: auto;
}

.force-horse svg.graph-svg .edge {
    /*stroke: lightgray;*/
    /*stroke-width: 1.5px;*/
}

.force-horse svg.graph-svg .edge.hovered {
    stroke: black;
    /*stroke-dasharray: 1,1;*/
}

.force-horse svg.graph-svg .node {
    /*cursor: move;*/
    /*fill: #ccc;*/
    /*stroke: none;*/
}

.force-horse svg.graph-svg .node.fixed {
    /*stroke-dasharray: 1,1;*/
}

.force-horse svg.graph-svg .node.hovered {
    stroke: #000;
    stroke-width: 1.5px;
}

.force-horse svg.graph-svg .labels text {
    stroke: black;
    stroke-width: 0.3px;
    font-size: 11px;
    pointer-events: none;
}

.force-horse svg.graph-svg.selectionMode .node,
.force-horse svg.graph-svg.selectionMode .edge,
.force-horse svg.graph-svg.selectionMode .labels text {
    opacity: 0.3;
}

.force-horse svg.graph-svg.selectionMode .node.selected,
.force-horse svg.graph-svg.selectionMode .edge.selected,
.force-horse svg.graph-svg.selectionMode .labels text.selected {
    opacity: 1;
}

.force-horse svg.graph-svg.selectionMode .node.selected {
    /*stroke: url(#force-horse-select-color);*/
    stroke-width: 20px;
}

.force-horse svg.graph-svg.selectionMode .edge.selected {
    /*stroke: url(#force-horse-select-color);*/
    stroke-width: 10px;
}

.force-horse svg.graph-svg .node.filtered,
.force-horse svg.graph-svg .edge.filtered,
.force-horse svg.graph-svg .edge.filtered-low-weight,
.force-horse svg.graph-svg .labels text.filtered {
    display: none;
}

.force-horse svg.graph-svg .labels text.hide-on-current-level {
    display: none;
}

.force-horse svg.graph-svg line.progress {
    stroke: black;
    stroke-width: 2;
}

.force-horse .buttonsWrapper {
    height: 10%;
    padding: 0 10px;
    color: lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.force-horse .buttonsWrapper input {
    width: 15%;
}

.force-horse .buttonsWrapper i {
    font-size: 6vh;
    cursor: pointer;
}

.force-horse .buttonsWrapper i:hover {
    color: black;
}

.force-horse .buttonsWrapper i:active {
    color: red;
}

.force-horse .buttonsWrapper i.img {
    background-color: lightgray;
    display: inline-block;
    width: 9%;
    height: 60%;
    margin: 0 1.5vh;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.force-horse .buttonsWrapper i.img:hover {
    background-color: black;
}

.force-horse .buttonsWrapper i.img:active {
    background-color: red;;
}

.force-horse .buttonsWrapper i.img.img-labels {
    margin-left: auto;
}

.force-horse .buttonsWrapper i.img.img-node-weight {
    mask-image: url(img/node_weight.png);
    -webkit-mask-image: url(img/node_weight.png);
}

.force-horse .buttonsWrapper i.img.img-link-weight {
    mask-image: url(img/link_weight.png);
    -webkit-mask-image: url(img/link_weight.png);
}

.force-horse .buttonsWrapper i.img.img-filter {
    mask-image: url(img/filter.png);
    -webkit-mask-image: url(img/filter.png);
}

.force-horse .buttonsWrapper i.img.img-home {
    mask-image: url(img/home.png);
    -webkit-mask-image: url(img/home.png);
}

.force-horse .buttonsWrapper i.img.img-play-circle-outline {
    mask-image: url(img/play-circle-outline.png);
    -webkit-mask-image: url(img/play-circle-outline.png);
}

.force-horse .buttonsWrapper i.img.img-pause-circle-outline {
    mask-image: url(img/pause-circle-outline.png);
    -webkit-mask-image: url(img/pause-circle-outline.png);
}

.force-horse .buttonsWrapper i.img.img-label-outline {
    mask-image: url(img/label-outline.png);
    -webkit-mask-image: url(img/label-outline.png);
}

.force-horse .buttonsWrapper i.img.img-label {
    mask-image: url(img/label.png);
    -webkit-mask-image: url(img/label.png);
}
