
.auto-force-layout {
    /* height: 100%; */
    /* flex: 1; */
}

.auto-force-layout .svgWrapper {
    height: 90%;
    position: relative;
    /* flex: 1; */
    flex-grow: 1;
}

.auto-force-layout svg.graph-svg {
    box-sizing: border-box;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    /* margin-top: 5px; */
    border: 1px solid #e8e8e8;
    stroke-width: 1;
    fill: none;
    stroke: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    overflow: auto;
}

.auto-force-layout svg.graph-svg .link {
    stroke: lightgray;
    stroke-width: 1.5px;
}

.auto-force-layout svg.graph-svg .link.hovered {
    stroke: black;
    stroke-dasharray: 1,1;
}

.auto-force-layout svg.graph-svg .node {
    /*cursor: move;*/
    fill: #ccc;
    stroke: none;
}

.auto-force-layout svg.graph-svg .node.hovered {
    stroke: #000;
    stroke-width: 1.5px;
}

.auto-force-layout svg.graph-svg.selectionMode .node {
    opacity: 0.5;
}

.auto-force-layout svg.graph-svg.selectionMode .node.selected {
    opacity: 1;
}

.auto-force-layout svg.graph-svg .node.fixed {
    fill: #f00;
}

.auto-force-layout svg.graph-svg text.label {
    fill: black;
    stroke: none;
    font-size: 10px;
    pointer-events: none;
}

.auto-force-layout .buttonsWrapper {
    height: 10%;
    color: lightgray;
    /*background-color: #00A000;*/
}

.auto-force-layout .buttonsWrapper i {
    font-size: 6vh;
    cursor: pointer;
}

.auto-force-layout .buttonsWrapper i:hover {
    color: black;
}

.auto-force-layout .buttonsWrapper i:active {
    color: red;
}
