<div id="view3" flex layout="row">

    <div flex auto-force-layout
         options="ctrl.options"
    >
    </div>
    <!--on-hover="ctrl.onHoverOutside(item)"-->
    <!--on-select="ctrl.onSelectOutside()"-->

    <div class="external-console" flex="30" layout="column">
        <div>
            <!--<div layout="row" layout-padding="">Last hovered node = {{lastHoveredNode.label}}</div>-->
            <div layout="row" layout-margin="" layout-align="space-between center">
                <label flex="" for="numOfNodes">Number of nodes:</label>
                <input flex="" type="text" pattern="\d+" ng-model="ctrl.numOfNodes" size="4" title="number of nodes to generate">
                <input flex="" type="range" id="numOfNodes" ng-model="ctrl.numOfNodes" min="10" max="1000">
                <button flex="" ng-click="ctrl.createRandomGraph()">Create random graph</button>
            </div>
            <div layout="row" layout-margin="" layout-align="start center">
                <label flex="20" for="graph-data-file-read">Create graph from file:</label>
                <input flex="" type="file" id="graph-data-file-read" file-input-on-change="ctrl.createGraphFromFile">
            </div>
        </div>
        <div flex layout="row">
            <div flex layout="column">
                <h3>Nodes</h3>
                <md-virtual-repeat-container flex="">
                    <table class="nodes-table" flex>
                        <tr class="repeated-item">
                            <th>id</th>
                            <th>label</th>
                        </tr>
                        <tr md-virtual-repeat="node in ctrl.data[ctrl.NODES] | filter:{filtered:'!true'}"
                            ng-class='{hovered: node.hovered, selected: node.selected}'
                            class="repeated-item"
                            ng-mouseenter="ctrl.onHoverInside(node, true)"
                            ng-mouseleave="ctrl.onHoverInside(node, false)"
                            ng-click="ctrl.onClick($event, node)"
                            flex="">
                            <td class="id">{{node.id}}</td>
                            <td class="label">{{node.label}}</td>
                        </tr>
                    </table>
                </md-virtual-repeat-container>
            </div>
            <div flex layout="column">
                <h3>Edges                <i class="mdi mdi-filter"
                                            title="Remove selected elements"
                                            ng-click="ctrl.onFilterInside()"></i>
                </h3>
                <md-virtual-repeat-container flex="">
                    <table class="edges-table" flex>
                        <tr class="repeated-item">
                            <th>id</th>
                            <th>source</th>
                            <th>target</th>
                        </tr>
                        <tr md-virtual-repeat="edge in ctrl.data[ctrl.EDGES] | filter:{filtered:'!true'}"
                            ng-class='{hovered: edge.hovered, selected: edge.selected}'
                            class="repeated-item"
                            ng-mouseenter="ctrl.onHoverInside(edge, true)"
                            ng-mouseleave="ctrl.onHoverInside(edge, false)"
                            ng-click="ctrl.onClick($event, edge)"
                            flex="">
                            <td class="id">{{edge.id}}</td>
                            <td>{{edge.sourceLabel}}</td>
                            <td>{{edge.targetLabel}}</td>
                        </tr>
                    </table>
                </md-virtual-repeat-container>
            </div>
        </div>
    </div>
</div>

