.echoFormWrapper {
    margin: 2vh 2vw;
    padding-bottom: 2vh;
    border-bottom: solid 1px #d0d0d0;
}

.echoFormWrapper .margin-left {
    margin-left: 2vw;
}

.echoFormWrapper input[type='number'] {
    text-align: center;
}
